@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app-layout {
    @apply grid h-screen;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header"
      "sidebar main"
      "sidebar main";
  }

  .nav-bar {
    @apply grid grid-cols-4 items-center justify-between border-b border-b-gray-300 p-2 px-8;
    grid-area: header;
  }

  .nav-rail {
    @apply border-r border-r-gray-300 pt-4;
    height: calc(100vh - 59px);
    grid-area: sidebar;
  }

  .nav-rail-item {
    @apply flex flex-col items-center p-3 text-sm hover:cursor-pointer hover:bg-gray-100;
  }

  main {
    height: calc(100vh - 59px);
    grid-area: main;
  }

  .rail-item {
    @apply mt-2 text-slate-500;
  }

  .active-rail-item {
    @apply rail-item text-black;
  }

  .grid-item {
    @apply h-[24px] w-[24px] rounded-md bg-gray-500;
  }

  .grid-item:hover {
    @apply cursor-pointer;
  }

  .tweet-box {
    @apply relative mb-4 block whitespace-pre-wrap rounded-lg bg-gray-100 p-4 text-sm;
  }

  .tweet-box:focus {
    @apply outline-none ring-4 ring-teal-300;
  }

  .selected .tweet-box {
    @apply cursor-pointer bg-teal-500 text-white ring-4 ring-teal-300;
  }

  .tweet-box-child {
    @apply ml-12;
  }

  .tweet-box-child::before {
    content: "";
    position: absolute;
    top: 0.25rem;
    bottom: 0.25rem;
    left: -2rem;
    width: 2px;
    background: #000;
  }
}
